<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">

    

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3 dark-grey-text">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">Takudzwa Mupanesure</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p style="text-align:center;">If you like what I do please contact me, lets work together on a project.
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Pages</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a style="text-decoration:none; color: #6C55F9;" class="dark-grey-text" href="/">Home</a>
                </p>
                
                <p>
                    <a style="text-decoration:none; color: #6C55F9;" class="dark-grey-text" href="/projects">Projects</a>
                </p>
                <p>
                    <a style="text-decoration:none; color: #6C55F9;" class="dark-grey-text" href="/contact">Contact</a>
                </p>
                


            </div>
            
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i style="font-size:20px; color: #6C55F9;" class="uil uil-building"></i> Johannesburg
                </p>
                <p>
                    <i style="font-size:20px; color: #6C55F9;" class="uil uil-envelope"></i> mupanesuretwork@gmail.com

                </p>
                <p>
                    <i style="font-size:20px; color: #6C55F9;" class="uil uil-phone"></i> +27 66 321 55 28

                </p>


            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center  py-3"><i class="uil uil-brackets-curly"></i> Designed and
        Created by
        <a style="text-decoration:none; color: #6C55F9;"  href="https://sputniktech.co/"> Sputnik Tech</a>
    </div>
    <!-- Copyright -->

    <!-- Copyright -->
    <div class="footer-copyright text-center  py-3">© {{ currentYear }} All Rights Reserved: <a
            style="text-decoration:none; color: #6C55F9;" >Takudzwa Mupanesure</a>
        
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->