
.toggle {
    display: none;
  }
  
  .toggle-label {
    position: relative;
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    overflow: hidden;
    cursor: pointer;
  }
  
  .sun,
  .moon {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    transition: top 0.3s;
    user-select: none;
  }
  
  .sun {
    top: 0;
  }
  
  .moon {
    top: -150%;
  }
  
  .toggle:checked + .toggle-label .sun {
    top: 150%;
  }
  
  .toggle:checked + .toggle-label .moon {
    top: 0;
  }
  
