/* You can add global styles to this file, and also import other style files */



@import '~bootstrap/scss/bootstrap';


body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

body:not(.dark-mode-preloading) {
  transition: all 0.3s linear;
}

body.dark-mode {
  // make beautiful gradient background with animations
  background-image: linear-gradient(147deg, #4e4c75 0%, #23313f 74%, #4c3f50 100%);
  
  color: #b1cbd8;
}

body.light-mode {
  
  //background-image: linear-gradient(147deg, #dcdbeb 0%, #cde1f3 74%, #d4d0af 100%);
  background: #3E5151;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #DECBA4, #b0c2c2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  color: #2d3436;
}







::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #6C55F9;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #b1cbd8;
}

html{
  height: 100%;
  scroll-behavior: smooth;
  width: 100%;   
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px) {
html{
  height: 100%;
  scroll-behavior: smooth;
  width: 100%;   
}
}


p,li{
  font-size: 1.1em;
  font-weight: 500;
  cursor: default;
}

em,i{
  color: var(--em);
}

li{
  
  //color: white;
  cursor: pointer;
}

li:hover {
  color: #737594;
}

span{
  
}



h1,h2,h3,h4,h5,h6{
  cursor: default;
  font-weight: 900;
  
}





a {  
  //color: var(--link);
  text-decoration: none;
  
  
}

a:hover {
  color: #737594;
}


//Divider
.custom-shape-divider-bottom-1667156080 {
  //position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1667156080 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 29px;
}

.custom-shape-divider-bottom-1667156080 .shape-fill {
  fill: #6C55F9;
}



.custom-shape-divider-top-1667156508 {
  //position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1667156508 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 29px;
}

.custom-shape-divider-top-1667156508 .shape-fill {
  fill: #6C55F9
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #13102b;
  text-align: center;
}




// SKILLS SECTION start


.skill-bars{
  padding: 25px 30px;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  border-color: #28004d;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f085;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 2s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #6C55F9;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 85%;
}
.bar .progress-line.css span{
  width: 70%;
}
.bar .progress-line.jquery span{
  width: 75%;
}
.bar .progress-line.python span{
  width: 90%;
}
.bar .progress-line.xamarin span{
  width: 75%;
}
.bar .progress-line.language span{
  width: 90%;
}
.bar .progress-line.strapi span{
  width: 70%;
}
.bar .progress-line.mysql span{
  width: 75%;
}
.bar .progress-line.ru span{
width: 75%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: rgba(46, 45, 45, 0.198);
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "85%";
}
.progress-line.css span::after{
  content: "70%";
}
.progress-line.jquery span::after{
  content: "75%";
}
.progress-line.python span::after{
  content: "90%";
}
.progress-line.xamarin span::after{
  content: "75%";
}
.progress-line.language span::after{
  content: "90%";
}

.progress-line.strapi span::after{
  content: "70%";
}

.progress-line.mysql span::after{
  content: "75%";
}

.progress-line.ru span::after{
content: "75%";
}


// SKILLS SECTION end