/* Google Fonts -  Titillium Web */
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,900,200,300,700);

.welcome,
.profile,
.resume,
.portfolio,
.contact {
  padding-top: 10px;
}

.welcome {
  // padding-top: 100px !important;
  padding-bottom: 20px;
  /* background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18); */
}



#welcome {
  padding-top: 100px !important;
  padding-bottom: 20px;
  /* background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18); */
}

.welcome-content h1 {
  font-weight: 900;
  font-size: 56px;
}

.welcome-content h2 {
  font-weight: 700;
  font-size: 26px;
}

.welcome-content p {
  padding-top: 10px;
  //font-size: 14px;
}

.welcome-content lottie-player {
  padding-top: 10px;
  font-size: 14px;
  align-content: center;
}

.welcome-content p a {
  padding-left: 5px;
  padding-right: 5px;
  color: #000000;
}




.social-button i {
  padding-right: 10px !important;
}



h3.head-bar i {
  padding-right: 10px;
}



.education h1 {
  font-weight: 700;
  font-size: 20px;
}

.education small {
  //color: #1b004e;
  font-size: 15px;
  padding-left: 15px;
}

.education h2 {
  font-weight: 400;
  font-size: 18px;
}

.education h3 {
  font-weight: 300;
  font-size: 14px;
}

article.work {
  padding-top: 20px;
  padding-bottom: 10px;
}

.work h1 {
  font-weight: 700;
  font-size: 20px;
}

.work small {
  color: #1b004e;
  font-size: 15px;
  padding-left: 15px;
}

.work h2 {
  font-weight: 400;
  font-size: 18px;
}

.work h3 {
  font-weight: 300;
  font-size: 14px;
}

.work p {
  padding-top: 10px;
}

.label {
  font-weight: 300;
  font-size: 12px;
  padding: 2px 8px;
}



$font-primary: "Karla", Arial, sans-serif;
$font-secondary: "Playfair Display", Georgia, serif;
// Overrides
$grid-gutter-width: 40px !default;
$border-radius-base: 4px !default;
$padding-base-vertical: 14px !default;

$brand-primary: #ca82f8 !default;
$brand-secondary: #ffe9e3 !default;

$brand-white: #fff;
$brand-black: #6C55F9;
$brand-lighter: #727272;
$brand-selection-color: #b7c2c2;
$brand-body-color: #fcfcfc;
$brand-body-bg: #f9f7f7;

$input-border-focus: $brand-primary !default;
$form-group-margin-bottom: 30px !default;

//ABOUT
.about-desc {
  padding-top: 1em;
  h2 {
    line-height: 1.3;
    span {
      display: block;
      margin-bottom: 0;
      color: $brand-black;
      font-size: 50px;
      font-family: 'Segoe UI', sans-serif;
    }
  }
  .desc {
    padding-left: 4em;
    position: relative;
  }
  .rotate {
    position: absolute;
    top: 7px;
    left: 30px;
    .heading {
      font-family: $font-primary;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1em;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      transform-origin: left top 0;
      position: relative;
      &:after {
        position: absolute;
        top: 8px;
        right: -40px;
        content: "";
        background: $brand-black;
        width: 40px;
        height: 1px;
      }
    }
  }
}

.pic {
  object-fit: cover;
  height: 620px;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 10px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .pic {
    height: 450px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .pic {
    height: 650px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .pic {
    height: 620px;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .pic {
    height: 650px;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .pic {
    height: 620px;
  }
}


.bold {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-right: 50px;
  font-size: 200px;
  color: #1f112a31;
  font-weight: 700;
}


.text-center {
  text-align: center;
}
.center{
  margin: auto;
  width: 70%;
  padding: 10px;
  justify-content: flex;
}

h2 {
  margin: 0 0 30px 0;
}





.skill-bars{
  padding: 25px 30px;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  border-color: #28004d;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f085;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 2s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #6C55F9;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 75%;
}
.bar .progress-line.css span{
  width: 70%;
}
.bar .progress-line.jquery span{
  width: 75%;
}
.bar .progress-line.python span{
  width: 90%;
}
.bar .progress-line.xamarin span{
  width: 75%;
}
.bar .progress-line.language span{
  width: 90%;
}
.bar .progress-line.strapi span{
  width: 70%;
}
.bar .progress-line.mysql span{
  width: 75%;
}
.bar .progress-line.ru span{
width: 75%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: rgba(46, 45, 45, 0.198);
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "75%";
}
.progress-line.css span::after{
  content: "70%";
}
.progress-line.jquery span::after{
  content: "75%";
}
.progress-line.python span::after{
  content: "90%";
}
.progress-line.xamarin span::after{
  content: "75%";
}
.progress-line.language span::after{
  content: "90%";
}

.progress-line.strapi span::after{
  content: "70%";
}

.progress-line.mysql span::after{
  content: "75%";
}

.progress-line.ru span::after{
content: "75%";
}










.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    //font-size: 24px;
    font-weight: 400;
    
}

img {
  //height: auto;
  max-width: 100%;
  vertical-align: middle;
}



.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card:hover 
{
transform: translateY(-20px);
transition: 0.5s;
}

.card_content {
  padding: 1rem;
  //background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.card_title {
  //color: #6C55F9;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  //color: #000000;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 500;
}

